<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.common.dao.DrugDao">


    <select id="selectAll" resultType="Drug">
        select * from t_drug
    </select>

    <select id="selectOneById" resultType="Drug">
        select * from t_drug where id = #{id}
    </select>

    <insert id="insertOne">
        insert into t_drug values(#{id},#{name},#{logo},#{address},#{content})
    </insert>

    <update id="updateOne">
        update t_drug set name=#{name},logo=#{logo},address=#{address},content=#{content} where id = #{id}
    </update>

    <delete id="deleteOne">
        delete from t_drug where id=#{id}
    </delete>

</mapper>