<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.common.dao.ImageDao">


    <select id="selectAll" resultType="Image">
        select * from t_image
    </select>

    <select id="selectOneById" resultType="Image">
        select * from t_image where id = #{id}
    </select>

    <insert id="insertOne">
        insert into t_image values(#{id},#{image},#{drugid},#{state}, #{type} )
    </insert>

    <update id="updateOne">
        update t_image set image=#{image},drugid=#{drugid},state=#{state} ,type=#{type} where id = #{id}
    </update>

    <delete id="deleteOne">
        delete from t_image where id = #{id}
    </delete>

</mapper>