<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.common.dao.OrderDao">


    <select id="selectAll" resultType="com.baizhi.common.entity.Order">
        select * from t_order
    </select>

    <select id="selectOneById" resultType="com.baizhi.common.entity.Order">
        select * from t_order where id = #{id}
    </select>

    <insert id="insertOne">
        insert into t_order values(#{id},#{addressid},#{content},#{userid},#{buy},#{date},#{newdate},#{state})
    </insert>

    <update id="updateOne">
        update t_order set addressid=#{addressid},content=#{content},userid=#{userid},buy=#{buy},date=#{date},newdate=#{newdate},state=#{state} where id = #{id}
    </update>

    <delete id="deleteOne">
        delete from t_order where id=#{id}
    </delete>

</mapper>