<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.common.dao.ThemsDao">


    <select id="selectAll" resultType="com.baizhi.common.entity.Thems">
        select * from t_thems
    </select>

    <select id="selectOneById" resultType="com.baizhi.common.entity.Thems">
        select * from t_thems where id = #{id}
    </select>

    <insert id="insertOne">
        insert into t_thems values(#{id},#{name},#{description},#{image})
    </insert>

    <update id="updateOne">
        update t_thems set name=#{name},description=#{description},image=#{image} where id = #{id}
    </update>

    <delete id="deleteOne">
        delete from t_thems where id=#{id}
    </delete>

</mapper>