<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.common.dao.TypeDao">


    <select id="selectAll" resultType="com.baizhi.common.entity.Type">
        select * from t_type
    </select>

    <select id="selectOneById" resultType="com.baizhi.common.entity.Type">
        select * from t_type where id = #{id}
    </select>

    <insert id="insertOne">
        insert into t_type values(#{id},#{name},#{image})
    </insert>

    <update id="updateOne">
        update t_type set name=#{name},image=#{image} where id = #{id}
    </update>

    <delete id="deleteOne">
        delete from t_type where id=#{id}
    </delete>

</mapper>